<div class="container mt-4">
  <h2 class="mb-4">Detalles del Contacto</h2>

  <!-- Botón para abrir el modal -->
  <button type="button" class="btn btn-primary mb-3" (click)="abrirModal()">Agregar Detalle</button>

  <div *ngIf="detalles.length > 0" class="list-group">
    <div *ngFor="let detalle of detalles" class="list-group-item">
      <p class="mb-1"><strong>Telefono:</strong> {{ detalle.telefono }}</p>
      <p class="mb-1"><strong>Correo:</strong> {{ detalle.correo }}</p>
      <p class="mb-1"><strong>Direccion:</strong> {{ detalle.direccion }}</p>
    </div>
  </div>
  <div *ngIf="detalles.length === 0" class="alert alert-info mt-3" role="alert">
    No se encontraron detalles para este contacto.
  </div>
</div>
