<form [formGroup]="contactoForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="telefono">Teléfono:</label>
      <input type="text" class="form-control" id="telefono" formControlName="telefono">
      <div *ngIf="f['telefono'].invalid && (f['telefono'].dirty || f['telefono'].touched)" class="invalid-feedback">El teléfono debe tener 10 dígitos numéricos</div>
    </div>
  
    <div class="form-group">
      <label for="correo">Correo:</label>
      <input type="email" class="form-control" id="correo" formControlName="correo">
      <div *ngIf="f['correo'].invalid && (f['correo'].dirty || f['correo'].touched)" class="invalid-feedback">Por favor, introduce una dirección de correo válida.</div>    </div>
  
    <div class="form-group">
      <label for="direccion">Dirección:</label>
      <textarea class="form-control" id="direccion" formControlName="direccion"></textarea>
      <div *ngIf="f['direccion'].invalid && (f['direccion'].dirty || f['direccion'].touched)" class="invalid-feedback">Por favor, introduce una dirección.</div>
    </div>
  
    <button type="submit" class="btn btn-primary">Agregar</button>
  </form>
  